   
   .card-price {
    display: flex;
    justify-content: end;
   }

   header {
      border-bottom: 1px solid rgba(0, 0, 0, 1);
   }

   button {
    background-color: deepskyblue;
    padding: 7px;
    font-weight: 500;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    border: none;
   }

   #lastBtn {
    background-color: darkred;
    padding: 7px;
    font-weight: 500;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    border: none;
   }

   button {
    width: 100%;
   }

   @media(min-width: 764px) {
       img {
         max-height: 22vh;
       }
   }

   @media(min-width: 1200px) {
      img {
        max-height: 35vh;
      }

      button:hover {
        background-color: rgb(3, 132, 175);
        transform: scale(1.1);
      }

      #lastBtn:hover {
        background-color: rgb(101, 6, 6);
      }
   
  }

  @media(max-width: 800px) {
    .header-container {
      flex-direction: column;
    }
  }
  /* не получилось оптимизировать кнопки при помощи min-width */